body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efebeb75 !important;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="search"] {
  padding-left: 15px;
  padding-top: 10px;
}
@media (max-width: 768px) {
  input[type="search"] {
    margin: auto;
    text-align: center;
  }
}
.MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.MuiDialogActions-root {
  background-color: transparent !important;
}

